
<script src="https://apis.google.com/js/client.js?onload=function"></script> <!-- don't think I need this -->

<div class="field">
  <label for "wf-search"><br/></label>
  <input id="wf-search" type="text"/>
  <button id="wf-search-bttn" class="button"> search </button>
</div>

<div class="wf-row">

    <div class="wf-column search-results" id="sc-results"> 
      <!-- dummy, to keep track of added classes, good practice. removed and added -->
      <div class="search-results-source hidden"> SoundCloud </div> 
    </div>

    <div class="wf-column search-results" id="yt-results"> 
      <div class="search-results-source hidden"> YouTube </div>
    </div>
</div>


<%= form_for([@playlist, @song]) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field hidden">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field hidden">
    <%= f.label :image_url_small %>
    <%= f.text_field :image_url_small %>
  </div>
  <div class="field hidden">
    <%= f.label :image_url_medium %>
    <%= f.text_field :image_url_medium %>
  </div>
  <div class="field hidden">
    <%= f.label :image_url_large %>
    <%= f.text_field :image_url_large %>
  </div>
  <div class="field hidden">
    <%= f.label :src_type %>
    <%= f.text_field :src_type %>
  </div>
  <!-- youtube -->
  <div class="field hidden">
    <%= f.label :yt_id %>
    <%= f.text_field :yt_id %>
  </div>
  <div class="field hidden">
    <%= f.label :yt_etag %>
    <%= f.text_field :yt_etag %>
  </div>
  <!-- soundcloud -->
  <div class="field hidden">
    <%= f.label :sc_id %>
    <%= f.text_field :sc_id %>
  </div>
  <div class="field hidden">
    <%= f.label :sc_permalink %>
    <%= f.text_field :sc_permalink %>
  </div>
  <div class="field hidden">
    <%= f.label :sc_permalink_url %>
    <%= f.text_field :sc_permalink_url %>
  </div>
  <div class="field hidden">
    <%= f.label :sc_uri %>
    <%= f.text_field :sc_uri %>
  </div>
  <div class="field hidden">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div class="field hidden">
    <%= f.label :album %>
    <%= f.text_field :album %>
  </div>
<% end %>