<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td> <strong> <%= song.name %> </strong> </td>
        <td><%= link_to 'Show', playlist_song_path(@playlist, song) %></td>
        <td><%= link_to 'Edit', edit_playlist_song_path(@playlist, song) %></td>
        <td><%= link_to 'Destroy', playlist_song_path(@playlist, song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', playlist_song_path(@playlist, song) %>
