<p id="notice"><%= notice %></p>

<p>
	<strong>Playlist:</strong>
	<%= @playlist.title %> <br>
	<strong>Name:</strong>
	<%= @song.name %> <br>
	<strong>Artist:</strong>
	<%= @song.artist %> <br>
	<strong>Album:</strong>
	<%= @song.album %> <br>
</p>

<%= link_to 'Edit', edit_playlist_song_path(@song.playlist, @song) %> |
<%= link_to 'Back', @song.playlist %> <!-- something's wrong right here -->
