<h1>Editing playlist</h1>

<%= render 'form' %>


   <strong>Songs:</strong>
  	<div class= "song-list">
  	<%= @playlist.songs.find_each do |song| %>
  		<tr>
        	
  			<td> <em> name: </em> <%= song.name %> </td>
  			<td> <em> artist: </em> <%= song.artist %> </td>
  			<td> <em> album: </em><%= song.album %> </td>
  			<td><%= link_to 'Edit', edit_song_path(song) %></td>
  			<td> <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  			<br>
  		</tr>
  	<% end %>
  </div>

<%= link_to 'Show', @playlist %> |
<%= link_to 'Back', playlists_path %>
