<p id="notice"><%= notice %></p>

  <div class="playlist-title"> <%= @playlist.title %> </div>
  	<div class= "song-list">
  	<%= @playlist.songs.find_each(batch_size: 500) do |song| %>
  		<tr>
  			<td> <%= song.name %> </td>
  			<td> <em> source: </em> <%= song.src_type %> </td>
<!--         <td><%= link_to 'Show', playlist_song_path(@playlist, song) %></td> -->
      </tr>
  			<br>
  		</tr>
  	<% end %>
  </div>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
