<p id="notice"><%= notice %></p>

  <strong>Title:</strong> <span> <%= @playlist.title %> </span>
  <br>
  <strong>Songs:</strong>
  	<div class= "song-list">
  	<%= @playlist.songs.find_each(batch_size: 500) do |song| %>
  		<tr>
  			<td> <em> name: </em> <%= song.name %> </td>
  			<td> <em> artist: </em> <%= song.artist %> </td>
  			<td> <em> album: </em><%= song.album %> </td>
        <td><%= link_to 'Show', playlist_song_path(@playlist, song) %></td>
      </tr>
  			<br>
  		</tr>
  	<% end %>
  </div>

<%= link_to 'Add New', add_song_path %> |
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
